* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* Navbar */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 60px;
  background: #0f172a;
  color: white;
}

nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}
.search-box{
  background:white;
  padding:5px 10px;
  border-radius:30px;
  display:flex;
  align-items:center;
  width:250px;
}
.search-box input{
  border:none;outline:none;width:100%;
}

/* Hero */
.hero {
  background: linear-gradient(to right,#3b82f6,#2563eb);
  color: white;
  padding: 100px 60px;
}

.hero button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  background: white;
  color: #2563eb;
  border-radius: 5px;
}

/* Categories */
.categories {
  padding: 60px;
  text-align: center;
}

.category-box {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.category-box div {
  background-color: cadetblue;
  padding: 20px 40px;
  border-radius: 10px;
}

/* Products */
.products {
  padding: 60px;
  background: #f8fafc;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 20px;
  margin-top: 30px;
}

.product-card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
}

.product-card img {
  width: 100%;
}

.product-card button {
  margin-top: 10px;
  background: #2563eb;
  color: white;
  border: none;
  padding: 8px 15px;
}

/* Offer */
.offer {
  background: #0f172a;
  color: white;
  text-align: center;
  padding: 60px;
}

.offer button {
  margin-top: 15px;
  padding: 10px 25px;
}

/* Footer */
footer {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  padding: 40px 60px;
  background: #020617;
  color: white;
}

footer a {
  color: #cbd5f5;
  text-decoration: none;
}